<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Authentication of User</h1>
    <a href="/users/register">
      <button class="index-btn">Register a User</button></a
    >
  </body>
</html>
